<ion-card *ngIf="item && item.modify">
	<ion-list>
		<ion-item *ngIf="item.imageUri && customService.isMobileDevice()">
			<ion-avatar item-start>
				<span *ngIf="customService.isMobileDevice()" (click)="viewPhoto()">
					<img [src]="image" />
				</span>
			</ion-avatar>
		</ion-item>
		<ion-item>
			<ion-label>{{translate('Code')}}</ion-label>
			<ion-input type="text" [(ngModel)]="item.code" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>
				{{translate('Value')}}
			</ion-label>
			<ion-input type="number" [(ngModel)]="item.value" (change)="onChangee()" placeholder="{{customService.getFileFormat(file.type).valuePlaceHolder}}"></ion-input>
		</ion-item>
		<ion-item  *ngIf="!isValid() && customService.getFileFormat(file.type).valueMessage">
			<span>{{translate(customService.getFileFormat(file.type).valueMessage) + ' ' + customService.getFileFormat(file.type).valuePlaceHolder}}</span>
		</ion-item>
		<ion-item>
			<ion-label fixed>{{translate('Comment')}}</ion-label>
			<ion-input type="text" [(ngModel)]="item.comment" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<!-- <button ion-button *ngIf="!item.modify" (click)="toggleModify()">
				<ion-icon name="create"></ion-icon>&nbsp;{{translate('Edit')}}
			</button> -->
			<button ion-button *ngIf="item.modify && isValid()" (click)="onSave()">
				<ion-icon name="checkmark"></ion-icon>&nbsp;{{translate('Save')}}
			</button>
			<button ion-button (click)="scan(item)">
				<ion-icon name="barcode"></ion-icon>&nbsp;{{translate('Scan')}}
			</button>
			<button ion-button (click)="confirmmDelete()">
				<ion-icon name="trash"></ion-icon>&nbsp;{{translate('Delete')}}
			</button>
			<br>
			<button ion-button (click)="takePicture()">
				<ion-icon name="camera"></ion-icon>&nbsp;{{translate('Take picture')}}
			</button>
			<button ion-button (click)="confirmDeletePicture()" *ngIf="item.imageUri">
				<ion-icon name="trash"></ion-icon>&nbsp;{{translate('Delete picture')}}
			</button>
		</ion-item>
	</ion-list>
</ion-card>
<ion-item *ngIf="item && !item.modify" (press)="presentActionSheet()" [ngStyle]="{'background-color': selected ? '#fff0f0' : 'transparent'}">
	<ion-avatar item-end *ngIf="item.imageUri && customService.isMobileDevice()">
		<span *ngIf="customService.isMobileDevice()" (click)="viewPhoto()">
			<img [src]="image" />
		</span>
	</ion-avatar>
	<span>
		<ion-icon name="barcode"></ion-icon> {{item.code}}<br>
		<span style="font-size: 1.1em">{{item.value}}</span>
	</span>
	<small *ngIf="item.comment"><br>{{item.comment}}</small>
	<div item-end style="height: 100%;margin-top: 30px;">
		<small>
			<ion-icon name="create"></ion-icon>&nbsp;{{customService.smartDate(item.modificationDate)}}
		</small>
		<small *ngIf="item.shareDate">
			<br>
			<ion-icon name="share"></ion-icon>&nbsp;{{customService.smartDate(item.shareDate)}}
		</small>
	</div>
</ion-item>