<ion-card *ngIf="item && item.modify">
	<ion-list>
		<ion-item *ngIf="item.imageUri && customService.isMobileDevice()">
			<ion-avatar item-start>
				<span *ngIf="customService.isMobileDevice()" (click)="viewPhoto()">
					<img [src]="image" />
				</span>
			</ion-avatar>
		</ion-item>
		<ion-item>
			<ion-label color="primary">{{translate('Code')}}</ion-label>
			<ion-input type="text" [(ngModel)]="item.code" (change)="onChange()"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label color="primary" fixed>{{translate('Value')}}</ion-label>
			<ion-input type="number" [(ngModel)]="item.value" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" fixed>{{translate('Comment')}}</ion-label>
			<ion-input type="number" [(ngModel)]="item.comment" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button (click)="confirmDelete()">
				<ion-icon name="trash"></ion-icon>&nbsp;{{translate('Delete')}}
			</button>
			<button ion-button (click)="!item.modify ? toggleModify() : onSave()">
				<ion-icon *ngIf="!item.modify" name="create"></ion-icon>
				<ion-icon *ngIf="item.modify" name="checkmark"></ion-icon>&nbsp;{{item.modify ? translate('Save') :
				translate('Edit')}}
			</button>
			<button ion-button (click)="scan(item)">
				<ion-icon name="barcode"></ion-icon>&nbsp;{{translate('Scan')}}
			</button>
			<button ion-button (click)="takePicture()">
				<ion-icon name="camera"></ion-icon>&nbsp;{{translate('Take')}}
			</button>
			<!-- <button ion-button (click)="deletePicture()">
				<ion-icon name="camera"></ion-icon>&nbsp;{{translate('Delete')}}
			</button> -->
		</ion-item>
	</ion-list>
</ion-card>
<ion-item *ngIf="item && !item.modify" (press)="presentActionSheet()">
	<ion-avatar item-start *ngIf="item.imageUri && customService.isMobileDevice()">
		<span *ngIf="customService.isMobileDevice()" (click)="viewPhoto()">
			<img [src]="image" />
		</span>
	</ion-avatar>
	{{item.code}}<br>
	{{item.value}}
	<small *ngIf="item.comment"><br>{{item.comment}}</small>
	<small><br>{{item.modificationDate}}</small>
</ion-item>