<ion-card *ngIf="item && item.modify">
	<ion-list>
		<ion-item>
			<ion-label>{{translate('Name')}}</ion-label>
			<ion-input type="text" [(ngModel)]="item.name" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>{{translate('Description')}}</ion-label>
			<ion-input type="text" [(ngModel)]="item.description" (change)="onChange()"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>{{translate('Type')}}</ion-label>
			<ion-select [(ngModel)]="item.type">
				<ion-option *ngFor="let type of itemService.fileFormats" [value]="type.name">{{translate(type.label)}}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="item && !item.type">
			<small style="color: red">{{translate('Please enter type')}}</small>
		</ion-item>
		<ion-item>
			<button ion-button (click)="!item.modify ? toggleModify() : onSave()">
				<ion-icon *ngIf="!item.modify" name="create"></ion-icon>
				<ion-icon *ngIf="item.modify" name="checkmark"></ion-icon>&nbsp;{{item.modify ? translate('Save') :
				translate('Edit')}}
			</button>
			<button ion-button (click)="onView()">
				<ion-icon name="eye"></ion-icon>&nbsp;{{translate('View')}}
			</button>
			<button ion-button *ngIf="item && item.type" (click)="share()">
				<ion-icon name="share"></ion-icon>&nbsp;{{translate('Share')}}
			</button>
			<button ion-button (click)="confirmDelete()">
					<ion-icon name="trash"></ion-icon>&nbsp;{{translate('Delete')}}
				</button>
			</ion-item>
	</ion-list>
</ion-card>

<ion-item *ngIf="item && !item.modify" (press)="allowMenu ? presentActionSheet() : onView()" (click)="onView()"
	 [ngStyle]="{'background-color': selected ? '#fff0f0' : 'transparent'}">
	<button item-start ion-fab mini style="margin-right: 16px;" [ngStyle]="{background: itemService.getFormat(item.type) ? itemService.getFormat(item.type).color : ''}">
		<ion-icon *ngIf="itemService.getFormat(item.type)" name="{{itemService.getFormat(item.type).icon}}"></ion-icon>
		<span *ngIf="!itemService.getFormat(item.type)" style="font-size: 1.5em; font-weight: lighter">
			{{item.name ? customService.getFirstLetter(item.name) : '?'}}
		</span>
	</button>
	<span style="padding-bottom: 0;padding-top: 0">
		<span style="font-size: 1.3em">{{item.name}}</span>&nbsp;<ion-badge *ngIf="item.articles">{{item.articles.length}}</ion-badge>
		<small *ngIf="item.description"><br>{{item.description}}</small>
	</span>
	<div item-end style="height: 100%;margin-top: 30px;">
		<small>
			<ion-icon name="create"></ion-icon>&nbsp;{{customService.smartDate(item.modificationDate)}}
		</small>
		<small *ngIf="item.shareDate">
			<br>
			<ion-icon name="share"></ion-icon>&nbsp;{{customService.smartDate(item.shareDate)}}
		</small>
	</div>
</ion-item>