<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="file">{{file.name ? file.name : translate('File')}}&nbsp;<ion-badge *ngIf="items && items.length > 0">{{items.length}}</ion-badge>
        </ion-title>
        <ion-buttons end>
            <button *ngIf="items && items.length > 0" ion-button icon-only (click)="share()">
                <ion-icon name="share"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <articleComponent #articleComponent [item]="article" [file]="file" *ngFor="let article of items" (deleted)="deleted(article)"
            (changed)="save(false)" (saved)="save()"></articleComponent>
    </ion-list>
    <ion-fab right top>
        <button ion-fab color="secondary" (click)="newScan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="neww()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>