<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="file">
            <ion-icon *ngIf="customService.getFileFormat(file.type)"
                name="{{customService.getFileFormat(file.type).icon}}"></ion-icon>&nbsp;
            {{file.name ? file.name : translate('File')}}&nbsp;<ion-badge *ngIf="items && items.length > 0">
                {{items.length}}</ion-badge>
        </ion-title>
        <ion-buttons end>
            <button *ngIf="items && items.length > 0" ion-button icon-only (click)="share()">
                <ion-icon name="share"></ion-icon>
            </button>
            <button *ngIf="items && items.length > 0" ion-button icon-only (click)="confirmDeleteFile('Do you want to delete this file?')">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card padding>
        <h5 *ngIf="file && file.description">{{file.description}}</h5>
        <small *ngIf="file">
            <ion-icon name="create"></ion-icon> {{customService.myFormatDate(file.modificationDate)}}
        </small>
        <br>
        <small *ngIf="file && file.shareDate">
            <ion-icon name="share"></ion-icon> {{customService.myFormatDate(file.shareDate)}}
        </small>
        <span *ngIf="file.modificationDate > file.shareDate">
            <br>
            <small style="color: red">
                <ion-icon name="warning"></ion-icon>
                &nbsp;{{translate('Modified after shared')}}
            </small>
        </span>
    </ion-card>
    <ion-list>
        <articleComponent #articleComponent [item]="article" [file]="file" *ngFor="let article of items"
            (deleted)="delete($event)" (changed)="change($event)" (codeChanged)="codeChange($event)" (saved)="clicSave($event)"></articleComponent>
    </ion-list>
    <ion-fab right top>
        <button ion-fab color="secondary" (click)="newScan()">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="neww()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>