<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{translate('MSI Virtual')}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content nopadding>
	<h4 padding *ngIf="countNotSent() == 0">
		<ion-icon name="information-circle"></ion-icon>&nbsp;{{translate('No file to send!')}}
	</h4>
	<div>
		<ion-card style="padding: 0" *ngIf="countNotSent() > 0">
			<ion-card-header style="padding: 0">
				<ion-item>
					<ion-label>
						<ion-icon name="mail-open"></ion-icon>&nbsp;{{translate('Files not sent')}}
					</ion-label>
				</ion-item>
			</ion-card-header>
			<span *ngFor="let element of countFiles" >
				<ion-item *ngIf="element.data && element.data.notSent && element.data.notSent.length > 0" (click)="goToFiles(element.type)">
					{{element | json }}
					<ion-label>
						<small>
							{{translate(this.customService.getFileFormat(element.type).label)}}&nbsp;
							<ion-badge *ngIf="element.data && element.data.notSent">{{element.data.notSent.length}}/{{element.length}}</ion-badge>
						</small>
					</ion-label>
				</ion-item>
			</span>
		</ion-card>
		<ion-card style="padding: 0" *ngIf="lastFile">
			<ion-card-header style="padding: 0">
				<ion-item>
					<ion-label>
						<ion-icon name="eye"></ion-icon>&nbsp;{{translate('Last file accessed')}}
					</ion-label>
				</ion-item>
				<fileComponent [item]="lastFile" [items]="items" [allowMenu]="false"></fileComponent>
			</ion-card-header>
		</ion-card>
		<ion-fab right top *ngIf="lastFile">
			<button ion-fab color="secondary" (click)="newScan()">
				<ion-icon name="barcode"></ion-icon>
			</button>
		</ion-fab>
	</div>
	<ion-refresher (ionRefresh)="load($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

</ion-content>