.blue-theme {

    ion-content {
    background: #00b4db; 
    background: -webkit-linear-gradient(to right, #00b4db, #0083b0); 
    background: linear-gradient(to right, #00b4db, #0083b0);
    -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  
  }