<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{translate('Parameters')}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content nopadding>
	<ion-item *ngIf="items && items.length > 0">
		<ion-label fixed>{{translate('Station')}}</ion-label>
		<ion-input type="text" placeholder="{{translate('Station')}}" [(ngModel)]="items[0].station" (change)="save()"></ion-input>
	</ion-item>
	<ion-item *ngIf="items && items.length > 0">
		<ion-label fixed>{{translate('User')}}</ion-label>
		<ion-input type="text" placeholder="{{translate('User')}}" [(ngModel)]="items[0].user" (change)="save()"></ion-input>
	</ion-item>
	<ion-item *ngIf="items && items.length > 0">
		<ion-label>{{translate('Share to server')}}</ion-label>
		<ion-toggle [(ngModel)]="items[0].shateToUrl"></ion-toggle>
	</ion-item>
	<ion-item *ngIf="items && items.length > 0 && items[0].shateToUrl">
		<ion-label fixed>{{translate('Name or IP')}}</ion-label>
		<ion-input type="text" placeholder="{{translate('Server name or IP')}}" [(ngModel)]="items[0].serverUrl" (change)="save()"></ion-input>
	</ion-item>
	<ion-item *ngIf="items && items.length > 0 && items[0].shateToUrl">
		<ion-label fixed>{{translate('Port')}}</ion-label>
		<ion-input type="number" placeholder="{{translate('Server port')}}" [(ngModel)]="items[0].port" (change)="save()"></ion-input>
	</ion-item>
	<div padding>
		<span (press)="toggleAllData()">{{translate('Choose a language')}}</span><br><br>
		<img src="./assets/imgs/portugal.png" style="width: 30px" (click)="setLanguage('PT')">
		<img src="./assets/imgs/france.png" style="width: 30px" (click)="setLanguage('FR')">
		<img src="./assets/imgs/uk.png" style="width: 30px" (click)="setLanguage('')">
	</div>
	<!-- <button ion-button (click)="confirmDelete()"><ion-icon name="trash" ></ion-icon>&nbsp;{{translate('Clear all files')}}</button>	 -->
	<div *ngIf="showStorage" [innerHTML]="allElements"></div>
</ion-content>